/* Experimental Feature » Font Settings */

@import url('https://rsms.me/inter/inter-ui.css');

.font_tabular {
    font-feature-settings: "tnum";
}
.font_fractions {
    font-feature-settings: "frac";
}
.font_userint {
    font-feature-settings: "calt";
}
.font_casealt {
    font-feature-settings: "case";
}
html {
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

@font-face {
  font-family: 'Retina';
  font-weight: 700;
  font-style: normal;
  src: url('fonts/Retina-BoldRoman.eot');
  src: url('fonts/Retina-BoldRoman.eot?#iefix') format('embedded-opentype'),
       url('fonts/Retina-BoldRoman.woff2') format('woff2'),
       url('fonts/Retina-BoldRoman.woff') format('woff'),
       url('fonts/Retina-BoldRoman.ttf')  format('truetype');
}
@font-face {
  font-family: 'Retina';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Retina-BookRoman.eot');
  src: url('fonts/Retina-BookRoman.eot?#iefix') format('embedded-opentype'),
       url('fonts/Retina-BookRoman.woff2') format('woff2'),
       url('fonts/Retina-BookRoman.woff') format('woff'),
       url('fonts/Retina-BookRoman.ttf')  format('truetype');
}
@font-face {
  font-family: 'Retina';
  font-weight: 200;
  font-style: normal;
  src: url('fonts/Retina-LightRoman.eot');
  src: url('fonts/Retina-LightRoman.eot?#iefix') format('embedded-opentype'),
       url('fonts/Retina-LightRoman.woff2') format('woff2'),
       url('fonts/Retina-LightRoman.woff') format('woff'),
       url('fonts/Retina-LightRoman.ttf')  format('truetype');
}
@font-face {
  font-family: 'Retina';
  font-weight: 500;
  font-style: normal;
  src: url('fonts/Retina-MediumRoman.eot');
  src: url('fonts/Retina-MediumRoman.eot?#iefix') format('embedded-opentype'),
       url('fonts/Retina-MediumRoman.woff2') format('woff2'),
       url('fonts/Retina-MediumRoman.woff') format('woff'),
       url('fonts/Retina-MediumRoman.ttf')  format('truetype');
}